body{
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
}
.container{
    width: 320px;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
 }
h5{
    color:hsl(75, 94%, 57%);
    text-align: center;
    display: block;
    justify-content: center;
}
p{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    opacity: 0.4;
    display: block;
    justify-content: center;
text-align: center;}
h1{
    color: hsl(0, 0%, 100%);
text-align: center;
display: block;
justify-content: center;
}
.box{
    display:flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    padding: 14px;
    margin: 0 auto;
    cursor: pointer;
}
.box:hover{
    background-color: hsl(75, 94%, 57%);
}
a:link, a:visited{
    color: hsl(0, 0%, 100%);
    text-align: center;
    text-decoration: none;
}
a:hover, a:active{
    color: hsl(0, 0%, 8%);
}
.box:hover a{
    color: black;
}
img{
    display: flex;
    width: 100px;
    height: 100px;
    clip-path: circle();
    margin: auto;
}


